.about h2{
    margin-bottom: 89px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    column-gap: 30px;
}
.about-img{
    position: relative;
    grid-column: 6 span;
    grid-row: span 3;
}
.about-img img{
    position: absolute;
    right: -76px;
    bottom: 16%;
}
.achievements{
    grid-column: 7 / 6 span;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    padding-bottom: 40px;
}
.achievements-item{
    grid-column: 3 span;
}
.achievements-item h3{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
    color: var(--main-green-color);
}
.achievements-item p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: var(--other-black-text-color);
}
.about-p{
    font-size: 15px;
    line-height: 28px;
    color: #7E7E7E;
    grid-column: 7 / 6 span;
    z-index: 1;
}
@media (max-width: 1000px){
    .about-content{
        grid-template-rows: repeat(2, 1fr) auto;
    }
    .about h2 {
        margin-bottom: 61px;
        margin-top: 90px;
    }
    .achievements{
        grid-row-gap: 30px;
        padding-left: 0;
        padding-bottom: 60px;
    }
    .achievements-item h3{
        font-size: 32px;
        line-height: 160%;
    }
    .achievements-item p{
        font-size: 15px;
        line-height: 25px;
    }
    .about-p{
        font-size: 13px;
        line-height: 20px;
        grid-column: 12 span;
        padding: 0;
    }
    .about-p span{
        display: block;
    }
    .about-img{
        grid-row: span 2;
    }
    .about-img img{
        top: 0;
        left: 0;
        width: 517px;
        height: 313px;
    }
}
@media (max-width: 768px){
    .about h2 {
        margin-bottom: 38px;
        margin-top: 90px;
    }
    .achievements-item p{
        font-size: 13px;
        line-height: 22px;
    }
    .about-img img{
        z-index: -1;
        width: 451px;
        height: 273px;
        top: 0;
        left: -8%;
    }
}
@media (max-width: 480px){
    .about-img{
        display: none;
    }
    .about-text{
        grid-column: 12 span;
        text-align: center;
    }
    .about h2 {
        margin-bottom: 40px;
    }
    .about-content{
        display: flex;
        flex-direction: column;
    }
    .achievements{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        grid-row-gap: 20px;
        padding: 0 0 30px 0;
    }
    .achievements-item{
        grid-column: 1 span;
        text-align: center;
    }
    .achievements-item h3{
        font-size: 27px;
    }
    .achievements-item p{
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    .about-p span{
        display: inline;
    }
}
@media (max-width: 320px){
    .about h2{
        margin-bottom: 35px;
        margin-top: 56px;
    }
    .about-content{
        display: flex;
        flex-direction: column;
    }
    .achievements{
        display: flex;
        flex-direction: column;
        gap:35px;
    }
    .achievements-item{
        flex-basis: 0;
    }
    .achievements-item-1{
        padding: 0 72px;
    }
    .achievements-item-2{
        padding: 0 64px;
    }
    .achievements-item-3{
        padding: 0 33px;
    }
    .achievements-item-4{
        padding: 0 33px;
    }
    .about-p{
        text-align: justify;
    }
}