.about h2{
    margin-bottom: 89px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
}
.about-img{
    height: 529px;
    position: relative;
    grid-column: 6 span;
    grid-row: span 3;
}
.about-img img{
    position: absolute;
    right: -76px;
    bottom: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: fill;*/
    /*object-position: 50% 50%;*/
}
.achievements{
    grid-column: 7 / 6 span;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
}
.achievements-item{
    grid-column: 3 span;
}

/*.about-img{*/
/*    position: relative;*/
/*    grid-column: 6 span;*/
/*}*/
/*.about-img img{*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: -245px;*/
/*    width: 871px;*/
/*    height: 529px;*/
/*}*/
/*.about-text{*/
/*    grid-column: 6 span;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.achievements{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-template-rows: repeat(2, 1fr);*/
/*    column-gap: 27px;*/
/*    grid-row-gap: 24px;*/
/*    padding-left: 40px;*/
/*    padding-bottom: 41px;*/
/*}*/
.achievements-item h3{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
    color: var(--main-green-color);
}
.achievements-item p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: var(--other-black-text-color);
}
.about-p{
    font-size: 15px;
    line-height: 28px;
    color: #7E7E7E;
    /*padding-left: 55%;*/
    grid-column: 7 / 6 span;
    z-index: 1;
}
@media (max-width: 1000px){
    .about h2 {
        margin-bottom: 61px;
        margin-top: 90px;
    }
    .achievements{
        grid-row-gap: 30px;
        padding-left: 0;
    }
    .achievements-item h3{
        font-size: 32px;
        line-height: 160%;
    }
    .achievements-item p{
        font-size: 15px;
        line-height: 25px;
    }
    .about-p{
        font-size: 13px;
        line-height: 20px;
        grid-column: 12 span;
        padding: 0;
    }
    .about-p span{
        display: block;
    }
    /*.about-img{*/
    /*    position: relative;*/
    /*}*/
    /*.about-img img{*/
    /*    position: absolute;*/
    /*    left: -81px;*/
    /*    top: -48px;*/
    /*    width: 584px;*/
    /*    height: 386px;*/
    /*}*/
    .about-content{
        margin-bottom: 35px;
    }
    /*.about-img img{*/
    /*    top: -40px;*/
    /*    left: 0;*/
    /*    width: 513px;*/
    /*    height: 317px;*/
    /*}*/
}
@media (max-width: 768px){
    .about h2 {
        margin-bottom: 38px;
        margin-top: 90px;
    }
    .about-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .achievements{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        grid-column-gap: 5px;
    }
    .achievements-item{
        flex-basis: 155px;
    }
    .achievements-item-4{
        flex-basis: 175px;
    }
    .achievements-item-2{
        flex-basis: 175px;
        padding-left: 5px;
    }
    .achievements-item p{
        font-size: 13px;
        line-height: 22px;
    }
    .about-img{
        position: relative;
        width: 425px;
        height: 330px;
        flex: 1 0 50%;
    }
    .about-img img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -53px 27px;
    }
}
@media (max-width: 480px){
    .about-img{
        display: none;
    }
    .about-text{
        grid-column: 12 span;
        text-align: center;
    }
    .about h2 {
        margin-bottom: 40px;
    }
    .achievements{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        grid-row-gap: 30px;
        padding: 0;
    }
    .achievements-item h3{
        font-size: 27px;
    }
    .achievements-item p{
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    .about-p span{
        display: inline;
    }
}
@media (max-width: 320px){
    .about h2{
        margin-bottom: 35px;
        margin-top: 56px;
    }
    .about-content{
        display: flex;
        flex-direction: column;
    }
    .achievements{
        display: flex;
        flex-direction: column;
        gap:35px;
        padding-bottom: 0;
    }
    .achievements-item{
        flex-basis: 0;
    }
    .achievements-item-1{
        padding: 0 72px;
    }
    .achievements-item-2{
        padding: 0 64px;
    }
    .achievements-item-3{
        padding: 0 33px;
    }
    .achievements-item-4{
        padding: 0 33px;
    }
    .about-p{
        text-align: justify;
    }
}