.events{
    position: relative;
    background-image:   url("../img/events/bg-events.png"),
                        url("../img/events/nebo.png");
    background-position: top, bottom;
    background-size:  cover;
    background-repeat:   no-repeat;
    padding-bottom: 271px;
}
.events-tittle{
    padding-top: 200px;
    padding-bottom: 25px;
}
.events-sub-title{
    padding-bottom: 75px;
}
.event-list{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 20px 1fr;
    grid-row-gap: 55px;
}
.event-list__item{
    padding-top: 244px;
}
.event-list__item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
}
.event-list__item:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
}
.event-list__item:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 2;
}
.event-list__item:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 4;
}
.event-list__item:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 4;
}
.event-list__item:nth-child(6) {
    grid-row-start: 2;
    grid-row-end: 4;
}

.events-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.girl-with-horse{
    position: absolute;
    width: 305px;
    height: 530px;
    left: calc(1% - 91px);
    top: calc(100% - 528px);
    z-index: 1;
}
.boy-with-horse{
    position: absolute;
    width: 372px;
    height: 532px;
    left: 1270px;
    top: 1174px;
    z-index: 1;
}
@media (max-width: 1000px){
    .events{
        padding-bottom: 224px;
    }
    .event-list__item{
        padding-top: 176px;
    }
    .event-list__item img{
        width: 250px;
        height: 181px;
    }
    .event-list__item h4 {
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 15px 0;
    }
    .event-list__item h4:after{
        top:35px
    }
    .event-list__item p {
        font-size: 13px;
        line-height: 20px;
        padding: 15px 25px 25px 33px;
    }
    .girl-with-horse{
        position: absolute;
        width: 202px;
        height: 350px;
        left: calc(1% - 7px);
        top: calc(100% - 351px);
        z-index: 1;
    }
    .boy-with-horse{
        position: absolute;
        width: 239px;
        height: 342px;
        left: 752px;
        top: 1037px;
        z-index: 1;
    }
    .events-sky{
        position: absolute;
        width: 1000px;
        height: 120px;
        left: 0;
        top: 1282px;
        z-index: 1;
    }
}
@media (max-width: 768px){
    .events{
        padding-bottom: 285px;
    }
    .event-list{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        grid-row-gap: 45px;
        margin-bottom: 40px;
    }
    .event-list__item{
        grid-column: 2 span;
    }
    .event-list__item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .event-list__item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .event-list__item:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .event-list__item:nth-child(4) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .event-list__item:nth-child(5) {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .event-list__item:nth-child(6) {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .event-list__item img{
        width: 304px;
        height: 181px;
    }
}
@media (max-width: 480px){
    .events{
        padding-bottom: 172px;
    }
    .events-tittle {
        padding-top: 80px;
        padding-bottom: 15px;
    }
    .events-sub-title {
        padding-bottom: 60px;
    }
    .event-list{
        grid-gap: 10px;
        grid-row-gap: 40px;
    }
    .event-list__item{
        padding-top: 125px;

    }
    .event-list__item img{
        width: 200px;
        height: 130px;
        left: 10px;
    }
    .event-list__item h4 {
        font-size: 13px;
        line-height: 25px;
    }
    .event-list__item h4:after{
        top:35px
    }
    .event-list__item p {
        padding: 15px 10px 20px 10px;
    }
    .girl-with-horse{
        position: absolute;
        width: 113px;
        height: 196px;
        left: 0;
        top: calc(100% - 196px);
        z-index: 1;
    }
    .boy-with-horse{
        position: absolute;
        width: 139px;
        height: 199px;
        left: 318px;
        top: 1240px;
        z-index: 1;
    }
    .events-sky{
        position: absolute;
        width: 768px;
        height: 87px;
        left: 0;
        top: 1354px;
        z-index: 1;
    }
}
@media (max-width: 320px){
    .event-list{
        display: flex;
        flex-direction: column;
    }
    .event-list__item img{
        width: 250px;
        height: 150px;
        left: 24px;
    }
}