.feedback{
    overflow: hidden;
    position: relative;
    margin-top: 140px;
    background-image: url("../img/feedback/bg-feetback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-feedback form{
    grid-column: 8 / 4 span;
    display: flex;
    flex-direction: column;
    background: #FFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 60px 65px;
    margin: 140px 0 113px auto;
    min-width: 547px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.form-feedback form h3 {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--color-title);
    padding-bottom: 15px;
}
.form-feedback form p {
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: var(--other-gray-text-color);
    padding-bottom: 30px;
}
.form-feedback form .feedback-data {
    width: 330px;
    height: 61px;
    background: #FFF;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #363434;
    padding: 20px 0 20px 21px;
    margin-bottom: 20px;
}
.form-feedback form .feedback-data::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}
.form-feedback form .feedback-data:focus {
    outline: 0;
    border: 1px solid #8F8F8F;
}
.form-feedback form .feedback-data:invalid {
    border: 1px solid #FF5C00;
    border-radius: 5px;
}
.error-form-feedback{
    width: 330px;
    font-size: 15px;
    line-height: 21px;
    text-align: start;
    color: var(--orange-text-color);
}
.form-feedback form .btn-feedback{
    margin-bottom: 30px;
}
.btn-feedback{
    width: 331px;
    height: 70px;
    font-size: 15px;
    line-height: 15px;
}
.checkbox-flex{
    display: flex;
    width: 330px;
    margin-bottom: 10px;
}
.checkbox-flex .checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 15px;
    line-height: 18px;
    color: #8A8A8A;
}
.checkbox+label a{
    text-decoration-line:underline;
    color: #8A8A8A;
}
.checkbox-flex .checkbox+label::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #FF5C00;
    border-radius: 2px;
    margin-right: 10px;
}
.checkbox:checked+label::before {
    border: 2px solid #FFC700;
    background-image: url("../img/feedback/checked.svg");
    background-size: 13px 12px;
    background-position: center;
    background-repeat: no-repeat;
}
.girl-horse{
    position: absolute;
    width: 1674px;
    height: 644px;
    left: 1%;
    top: 208px;
}
.fir-tree{
    position: absolute;
    width: 297px;
    height: 371px;
    left: 70%;
    top: 55%;
    z-index: 2;
}
@media (max-width: 1000px){
    .girl-horse{
        width: 1397px;
        height: 538px;
        left: -20%;
        top: 356px;
    }
    .fir-tree{
        width: 213px;
        height: 267px;
        left: 84%;
        top: 71%;
    }
    .feedback .container .grid{
        display: flex;
        justify-content: end;
    }
    .form-feedback form{
        max-width: 450px;
        min-width: 450px;
        /*flex-grow: 0;*/
    }
}
@media (max-width: 768px){
    .btn-feedback{
        width: 300px;
        height: 64px;
    }
    .fir-tree{
        display: none;
    }
    .girl-horse{
        width: 1253px;
        height: 538px;
        left: -1%;
        top: 759px;
        z-index: 2;
    }
    .form-feedback form{
       margin: 140px 0 500px 0;
    }
    .feedback .container .grid{
        justify-content: center;
    }
    .form-feedback form h3 {
        font-size: 32px;
    }
    .form-feedback form p {
        font-size: 13px;
        padding-bottom: 25px;
    }

}
@media (max-width: 480px){
    .btn-feedback {
        font-size: 13px;
        line-height: 15px;
    }
    .girl-horse{
        width: 1224px;
        height: 490px;
        left: -35%;
    }
    .form-feedback form h3 {
        font-size: 27px;
    }

}
@media (max-width: 320px){
    .btn-feedback{
        width: 170px;
        height: 43px;
        font-size: 10px;
        line-height: 10px;
    }
    .form-feedback form h3 {
        font-size: 22px;
        line-height: 22px;
    }
    .form-feedback form{
        max-width: 300px;
        min-width: 300px;
        padding: 45px 37px;
    }
    .form-feedback form .feedback-data {
        width: 266px;
    }
    .error-form-feedback{
        display: none;
    }
    .checkbox+label {
        font-size: 13px;
        line-height: 15px;
    }
    .checkbox-flex {
        width: 266px;
    }
    .girl-horse {
        width: 803px;
        height: 309px;
        top: 67%;
    }
    .form-feedback form{
        margin-bottom: 290px;
    }
}