footer{
    overflow: hidden;
    position: relative;
}
footer .container > p{
    display: none;
}
.footer-top{
    padding: 70px 0;
    background: url("../img/footer/bg-footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contacts{
    grid-column: 7 span;
    padding: 50px 70px 72px 72px;
    background: #fff;
    max-width: 511px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}
.contacts h2{
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 43px;
}
.contacts h2:after{
    content: '';
    position: absolute;
    top: 52px;
    left: 0;
    width: 26px;
    height: 1px;
    background-color: var(--main-green-color);
}
.contacts p{
    font-size: 18px;
    line-height: 22px;
    color: var(--color-title);
    padding: 2px 0 2px 36px;
    margin-bottom: 28px;
}
.contacts p:hover{
    filter: opacity(80%);
}
.address{
    background: url("../img/footer/icon-map.svg") no-repeat left;
}
.telephone{
    background: url("../img/footer/icon-tel.svg") no-repeat left;
}
.email{
    background: url("../img/footer/icon-email.svg") no-repeat left;
}
.work-time{
    background: url("../img/footer/icon-watch.svg") no-repeat top left;
    margin-bottom: 30px;
}
.work-time span{
    display: block;
}
.social-media{
    display: flex;
    justify-content: end;
    gap: 13px;
}
.social-media a{
    width: 32px;
    height: 32px;
}
.social-media .instagram{
    background: url('../img/footer/icon-inst.svg') no-repeat center;
}
.social-media .instagram:hover{
    background: url('../img/footer/icon-inst-hover.svg') no-repeat center;
}
.social-media .youtube{
    background: url('../img/footer/icon-youtube.svg') no-repeat center;
}
.social-media .youtube:hover{
    background: url('../img/footer/icon-youtube-hover.svg') no-repeat center;
}
.social-media .whatsapp{
    background: url('../img/footer/icon-whatsApp.svg') no-repeat center;
}
.social-media .whatsapp:hover{
    background: url('../img/footer/icon-whatsApp-hover.svg') no-repeat center;
}
.social-media .vk{
    background: url('../img/footer/icon-vk.svg') no-repeat center;
}
.social-media .vk:hover{
    background: url('../img/footer/icon-vk-hover.svg') no-repeat center;
}
.footer-bottom{
    background: #0B0B0B;
    padding: 25px 0;

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.footer-menu{
    display: flex;
}
.footer-menu ul{
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 26px;
}
.footer-menu ul li a{
    font-size: 13px;
    line-height: 15px;
    color: #EAEAEA;
}
.footer-menu button{
    width: 201px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #FDE724;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: inherit;
    color: #F5F5F5;;
}
.footer-btn{
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #7D808A;
    margin-right: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.bush-l{
    position: absolute;
    width: 411px;
    height: 340px;
    left: 0;
    top: 50%;
}
.bush-r{
    position: absolute;
    width: 174px;
    height: 574px;
    left: 91%;
    top: 12%;

}
@media (max-width: 1890px){
    .bush-l{
        display: none;
    }
}
@media (max-width: 1187px){
    .flex{
        padding: 0 10px;
    }
}
@media (max-width: 804px){
    .footer-menu ul{
        gap: 20px;
    }
    .flex{
        padding: 0 5px;
    }
}
@media (max-width: 1000px){
    .bush-l,
    .bush-r{
        display: none;
    }
    .contacts {
        max-width: 500px;
    }

}
@media (max-width: 768px){
    .footer-menu button {
        width: 167px;
        font-size: 13px;
        line-height: 15px;
    }
    .contacts {
        max-width: 354px;
        padding: 40px;
    }
    .contacts h2{
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 0;
    }
    .contacts p{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .social-media{
        margin-top: 41px;
    }
}
/*@media (max-width: 480px){*/
@media (max-width: 718px){
    .footer-top{
        background-position: 69% -281px;
    }
    .footer-top{
        padding-top: 320px;
    }
    .contacts{
        margin: 0 auto;
    }
    .flex{
        flex-direction: column-reverse;
        gap: 30px;
        margin-bottom: 32px;
    }
    .footer-menu{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    footer .container > p{
        display: block;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
    }
    .footer-btn{
        display: block;
        margin: 0 0 10px 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .footer-btn + p{
        padding: 93px 0 0 0;
    }
}
/*@media (max-width: 320px){*/
@media (max-width: 371px){
    .footer-top{
        background-size: 1541px 520px;
        background-position: 70% -139px;
    }
    .footer-menu ul{
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
        margin: 0;
    }
    .contacts h2{
        font-size: 24px;
        line-height: 21px;

    }
    .contacts h2:after{
        top: 35px;
        left: 44%;
    }
    .contacts p{
        font-size: 13px;
        line-height: 25px;
    }
    .social-media {
        justify-content: center;
    }
}