footer{
    position: relative;
}
.footer-top{
    padding: 70px 0;
    background: url("../img/footer/bg-footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contacts{
    grid-column: 7 span;
    padding: 50px 70px 72px 72px;
    background: #fff;
    max-width: 511px;
}
.contacts h2{
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 43px;
}
.contacts h2:after{
    content: '';
    position: absolute;
    top: 52px;
    left: 0;
    width: 26px;
    height: 1px;
    background-color: var(--main-green-color);
}
.contacts p{
    font-size: 18px;
    line-height: 22px;
    color: var(--color-title);
    padding: 2px 0 2px 36px;
    margin-bottom: 28px;
}
.contacts p:hover{
    filter: opacity(80%);
}
.address{
    background: url("../img/footer/icon-map.svg") no-repeat left;
}
.telephone{
    background: url("../img/footer/icon-tel.svg") no-repeat left;
}
.email{
    background: url("../img/footer/icon-email.svg") no-repeat left;
}
.work-time{
    background: url("../img/footer/icon-watch.svg") no-repeat top left;
    margin-bottom: 30px;
}
.work-time span{
    display: block;
}
.social-media{
    display: flex;
    justify-content: end;
    gap: 13px;
}
.social-media a{
    width: 32px;
    height: 32px;
}
.social-media .instagram{
    background: url('../img/footer/icon-inst.svg') no-repeat center;
}
.social-media .instagram:hover{
    background: url('../img/footer/icon-inst-hover.svg') no-repeat center;
}
.social-media .youtube{
    background: url('../img/footer/icon-youtube.svg') no-repeat center;
}
.social-media .youtube:hover{
    background: url('../img/footer/icon-youtube-hover.svg') no-repeat center;
}
.social-media .whatsapp{
    background: url('../img/footer/icon-whatsApp.svg') no-repeat center;
}
.social-media .whatsapp:hover{
    background: url('../img/footer/icon-whatsApp-hover.svg') no-repeat center;
}
.social-media .vk{
    background: url('../img/footer/icon-vk.svg') no-repeat center;
}
.social-media .vk:hover{
    background: url('../img/footer/icon-vk-hover.svg') no-repeat center;
}
.footer-bottom{
    background: #0B0B0B;
    padding: 25px 0;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.footer-menu{
    display: flex;
}
.footer-menu ul{
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 26px;
}
.footer-menu ul li a{
    font-size: 13px;
    line-height: 15px;
    color: #EAEAEA;
}
.footer-menu button{
    width: 201px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #FDE724;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: inherit;
    color: #F5F5F5;;
}
.footer-btn{
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #7D808A;
    margin-right: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.sticker{
    position: absolute;
    width: 63px;
    height: 92px;
    left: 1210px;
    top: 516px;
}
.bush-l{
    position: absolute;
    width: 593px;
    height: 358px;
    left: -131px;
    top: 571px;
}
.bush-r{
    position: absolute;
    width: 303px;
    height: 722px;
    left: 1599px;
    top: 527px;
}

@media (max-width: 1000px){

}
@media (max-width: 768px){
    .footer-menu button {
        width: 167px;
        font-size: 13px;
        line-height: 15px;
    }
}
@media (max-width: 480px){


}
@media (max-width: 320px){

}