.btn-menu{
    display: none;
}
header{
    position: relative;
    /*min-height: 948px;*/
    background-image: url("../img/header-img1920/bg-1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding-top: 9px;
}
nav{
    display: flex;
    align-items: start;
}
.nav__list{
    display: flex;
    align-items: center;
    margin-right: 57px;
    margin-top: 19px;
    gap: 44px;
}
.nav__link{
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--black-text-color);
}
.active_section{
    position: relative;
}
.active_section::after{
    content: "";
    left: 0;
    position: absolute;
    width: 42px;
    height: 1px;
    top: 25px;
    background: var(--main-green-color);
}
.schedule{
    margin-top: 16px;
}
.nav__link__tel{
    display:block;
    padding-left:26px;
    height:16px;
    background-image:url('../img/header-img1920/tel.svg');
    background-repeat:no-repeat;
    background-size:16px 16px;
    background-position:left top;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--black-text-color);
    margin-bottom: 8px;
}
.nav__link__tel~p{
    font-size: 13px;
    line-height: 15px;
    color: var(--gray-text-color);
    text-align: center;
}

.header__content{
    grid-column: 7 span;
    padding-top: 88px;
    padding-bottom: 450px;
}
.header__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 57px;
    line-height: 107%;
    color: #000;
    margin-bottom: 40px;
}
.header__descr{
    position: relative;
    padding-left: 46px;
    font-family: 'AlegreyaSans';
    font-size: 24px;
    line-height: 140%;
    color: #646464;
    max-width: 525px;
    margin-bottom: 42px;
}
.header__descr::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    width: 26px;
    height: 1px;
    background-color: #8F8F8F;
}
.horse{
    position: absolute;
    width: 557px;
    height: 671px;
    right: 19%;
    bottom: 11%;
}
.gull{
    position: absolute;
    width: 272px;
    height: 86px;
    right: 8%;
    bottom: 80%;
}
.bush-right{
    position: absolute;
    width: 10%;
    height: 60%;
    right: 0;
    bottom: 0;
}
.bush-left{
    position: absolute;
    width: 10%;
    height: 40%;
    left: 0px;
    top: 489px;
}

@media (max-width: 1000px){
    .header__content{
        padding-top: 51px;
        padding-bottom: 278px;
    }
    .header__title{
        margin-bottom: 30px;
        font-size: 47px;
        line-height: 107%;
    }
    .header__descr{
        margin-bottom: 37px;
        font-size: 20px;
        line-height: 140%;
        max-width: 520px;
    }
    .horse{
        width: 365px;
        height: 437px;
        right: 5%;
        bottom: 11%;
    }
    .bush-left{
        width: 100px;
        height: 207px;
        left: 0px;
        top: 418px;
    }
    .bush-right{
        position: absolute;
        width: 61px;
        height: 229px;
        right: 0;
        bottom: 10%;
    }
    .gull{
        width: 165px;
        height: 52px;
    }
}
@media (max-width: 768px){
    .header__content{
        grid-column: 3 span;
        padding-bottom: 217px;
        padding-top: 41px;
    }
    .logo img{
        width: 120px;
        height: 29px;
        margin-left: -20px;
    }
    .nav__link{
        font-size: 11px;
        line-height: 13px;
    }
    .nav__list{
        gap:28px;
        margin-right: 40px;
    }
    .active_section::after{
        max-width: 32px;
        top: 20px;
    }
    .nav__link__tel{
        font-size: 14px;
        line-height: 16px;
        background-size:13px 13px;
        padding-left: 18px;
        margin-bottom: 7px;
    }
    .nav__link__tel~p{
        font-size: 11px;
        line-height: 13px;
        text-align: end;
    }
    .header__title{
        margin-bottom: 20px;
        font-size: 37px;
        line-height: 41px;
        padding-right: 101px;
    }
    .header__descr {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 22px;
        max-width: 350px;
        padding-left: 25px;
    }
    .header__descr::after {
        top: 10px;
        width: 15px;
    }
    .horse{
        width: 308px;
        height: 364px;

    }
    .bush-left{
        width: 68px;
        height: 141px;
        left: -12px;
        top: 359px;
    }
    .bush-right{
        width: 42px;
        height: 160px;
    }
    .gull{
        width: 126px;
        height: 40px;
    }
}
@media (max-width: 862px) {
    .nav__list{
        gap:20px;
    }
    
}
@media (max-width: 788px) {
    .nav__list{
        margin-right: 20px;
    }
}
@media (max-width: 612px) {
    .nav__list{
        margin-right: 10px;
        gap:10px;
    }
}
/*@media (max-width: 480px){*/
@media (max-width: 572px) {
    header{
        background-image:url("../img/header-img1920/bg-1920.jpg"), url("../img/header-img1920/bg-clean.png");
        background-size: 863px 421px, cover;
        background-position: -127px 194px, center;
        background-repeat: no-repeat;
    }
    .logo{
        margin-top: 15px;
    }
    .logo img{
        width: 89px;
        height: 29px;
        margin-left: 0;
    }
    .nav__list{
        display: none;
    }
    .schedule{
        margin-top: 15px;
    }
    .btn-menu{
        margin-top: 15px;
        margin-left: 24px;
        margin-right: 121px;
        display: block;
        position: relative;
        width: 77px;
        height: 29px;
        border: 1px solid var(--main-green-color);
        border-radius: 3px;
        background: transparent;
        font-size: 15px;
        line-height: 15px;
        color: var(--black-text-color);
        cursor: pointer;
        padding-left: 25px;
        padding-right: 15px;
    }
    .btn-menu i{
        position: absolute;
        margin-left: 10px;
        top: 50%;
        left: 0;
        display: block;
        width: 10px;
        height: 2px;
        margin-top: -2px;
        background-color: var(--main-green-color);
    }
    .btn-menu i:before,
    .btn-menu i:after {
        position: relative;
        display: block;
        width: 10px;
        height: 2px;
        content: '';
        background-color: var(--main-green-color);
    }
    .btn-menu i:before {
        top: -4px;
    }
    .btn-menu i:after {
        bottom: -2px;
    }
    nav{
        width: 100%;
        justify-content: end;
    }
    .nav__link__tel{
        font-size: 11px;
        line-height: 13px;
        background-size:10px 10px;
        padding-left: 16px;
        margin-bottom: 3px;
    }
    .nav__link__tel~p{
        font-size: 9px;
        line-height: 11px;
    }
    .header_container{
        justify-content: start;
    }

    .header__content{
        padding-top: 106px;
        padding-bottom: 205px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .grid{
        display: flex;
        justify-content: center;
    }
    .header__title{
        width: 389px;
        padding-bottom: 15px;
        padding-right: 0;
        margin: 0 auto;
        font-size: 33px;
        line-height: 37px;
    }
    .header__descr{
        font-size: 16px;
        line-height: 22px;
        padding-top: 10px;
        margin:0 auto;
        padding-bottom: 20px;

    }
    .header__descr::after {
        top: 0px;
        left: calc(50% - 6px);
        width: 15px;
    }
    .header section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .horse{
        width: 173px;
        height: 190px;
        left: 283px;
        top: 385px;
    }
    .bush-left{
        width: 68px;
        height: 141px;
        left: -29px;
        top: 446px;
        z-index: 2;
    }
    .bush-right{
        width: 34px;
        height: 131px;
        left: 446px;
        top: 459px;
    }
    .gull{
        width: 101px;
        height: 32px;
        left: 18px;
        top: 100px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}
/*@media (max-width: 320px) {*/
@media (max-width: 442px) {
    .header_container{
        justify-content: space-between;
    }
    .header__content{
        padding-bottom: 230px;
    }
    nav{
       display: none;
    }
    .schedule{
        display: none;
    }
    .btn-menu{
        margin-left: 114px;
        margin-right: 0;
        padding-right: 10px;
    }
    .header__title{
        padding-bottom: 15px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 27px;
        width: 277px;
    }
    .header__descr{
        font-size: 13px;
        line-height: 18px;
        padding: 10px 0 20px 0;
        margin:0 auto;
    }
    .horse{
        display: none;
    }
    .bush-left{
        display: none;
    }
    .bush-right{
        display: none;
    }
    .clouds-img{
        display: none;
    }
    .gull{
        width: 101px;
        height: 32px;
        left: 18px;
        top: 100px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    header{
        background-image: url("../img/header-img1920/bg-320.jpg");
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}