.horses h2{
    padding-top: 150px;
    padding-bottom: 95px;
}
.horses-top{
    padding-bottom: 60px;
}
.horses-list{
    position: relative;
}
.horses-list-items:first-child{
    position: absolute;
    width: 370px;
    top: -40px;
    left: -400px;
}
.horses-list-items:first-child div{
    position: absolute;
    width: 370px;
    height: 621px;
    top: -26px;
    left: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}
.horses-list-items:last-child{
    position: absolute;
    width: 370px;
    top: -40px;
    left: 1200px;
}
.horses-list-items:last-child div{
    position: absolute;
    width: 370px;
    height: 621px;
    top: -26px;
    left: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}
.horses-list-items{
    position: relative;
    padding-top: 430px;
}
.horses-list-items img{
    width: 320px;
    height: 421px;
}

@media (max-width: 1000px){
    .horses{
        overflow: hidden;
    }
    .horses h2{
        padding-top: 120px;
        padding-bottom: 65px;
    }
    .horses-top .container .grid{
        column-gap:20px;
    }
    .horses-list-items{
        padding-top: 104%;
    }
    .horses-list-items img{
        left: 10%;
        width: 243px;
        height: 320px;
    }
}
@media (max-width: 768px){
    .horses-top .container .grid{
        display: flex;
        gap: 20px;
    }
}
@media (max-width: 480px){


}
@media (max-width: 320px){

}