.about h2{
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #363434;
    margin-bottom: 89px;
}

.about-img{
    position: relative;
    grid-column: 6 span;
}
.about-img img{
    position: absolute;
    top:0;
    left: -245px;
    width: 871px;
    height: 529px;
}
.about-text{
    grid-column: 6 span;
    display: flex;
    flex-direction: column;
}
.achievements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 27px;
    grid-row-gap: 24px;
    padding-left: 40px;
    padding-bottom: 41px;
}
.achievements-item h3{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
    color: var(--main-green-color);
}
.achievements-item p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #0B0B0B;
}
.about-p{
    grid-column: 7 / 6 span;
    font-size: 15px;
    line-height: 28px;
    color: #7E7E7E;
    padding-left: 32px;
}
@media (max-width: 1000px){
    .about h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 61px;
        margin-top: 90px;
    }
    .achievements{
        grid-row-gap: 30px;
    }
    .achievements-item h3{
        font-size: 32px;
        line-height: 160%;
    }
    .achievements-item p{
        font-size: 15px;
        line-height: 25px;
    }
    .about-p{
        font-size: 13px;
        line-height: 20px;
        grid-column: 12 span;
        padding: 0;
    }
    .about-img img{
        top: -40px;
        left: 0;
        width: 513px;
        height: 317px;
    }
}
@media (max-width: 768px){
    .about h2 {
        font-size: 27px;
        line-height: 27px;
        margin-bottom: 38px;
        margin-top: 90px;
    }
    .achievements{
        grid-row-gap: 30px;
        padding-left: 0;
    }
    .achievements-item p{
        font-size: 13px;
        line-height: 22px;
    }
    .about-img img{
        top: -5px;
        left: -50px;
        width: 425px;
        height: 330px;
    }
}
@media (max-width: 480px){
    .about-img{
        display: none;
    }
    .about-text{
        grid-column: 12 span;
        text-align: center;
    }
    .about h2 {
        margin-bottom: 40px;
    }
    .achievements-item h3{
        font-size: 27px;
    }
    .achievements-item p{
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }

}
@media (max-width: 320px){
    .about h2 {
        font-size: 21px;
        line-height: 21px;
    }
    .achievements{
        display: flex;
        flex-direction: column;
    }
}